@tailwind base;
@tailwind components;
@tailwind utilities;


/* Define default values for light theme */
:root {
  --foreground-color: #11181C;
  /* Default foreground color (text) */
  --background-color: #FFFFFF;
  /* Default background color (light theme) */
}

/* Dark theme overrides */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #ECEDEE;
    /* Text color for dark theme */
    --background-color: #000000;
    /* --background-color: #18181b; */
    /* Background color for dark theme */
  }
}

/* body {
  color: var(--foreground-color);
  background-color: var(--background-color);
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Base theme */
.bn-container[data-theming-background][data-color-scheme] {
  --bn-colors-editor-background: #FFFFFF;
}

/* Changes for dark mode */
.bn-container[data-theming-background][data-color-scheme="dark"] {
  --bn-colors-editor-background: #000000;
}